:root{
    --text-color: rgb(207, 207, 207);
    --background-color-main:  rgb(18, 18, 18);
    --background-color-secondary: rgb(30, 30, 30);
    --accent-color: rgb(255, 62, 62);
}

* {
    padding : 0px;
    margin : 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color-main);
    font-family: monospace, sans-serif;  
}

/*Core elements*/
h1{
    font-size: 2rem;
    margin: 1rem;
    color: var(--text-color);
}

h2{
    font-size: 1.25rem;
    margin: 1rem;
    color: var(--text-color)
}

h3{
    font-size: 1.125rem;
    margin: 1rem;
    color: var(--text-color)
}

p{
    font-size: 1rem;
    font-weight:lighter;
    margin: 1rem;
    color: var(--text-color);
}

hr{
   color:var(--text-color);
   margin-bottom: 1rem;
}

mark{
    background-color: transparent;
    color: var(--accent-color);
}

header{
    background-color: transparent;
    padding: 1rem 2rem 1rem 2rem;   
    display: flex;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
}

.header-guide{
    background-color: transparent;
    padding: 1rem 2rem 1rem 2rem;   
    display: flex;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    list-style: none;
}

nav{
    position:static;
    display: flex;
    flex-shrink: 1;
    flex-grow: 0;
    row-gap: 0.5rem;
    column-gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row; 
}

.nav-guide{
    display: block;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.carrot{
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--text-color);
}

.header-name{
    position:static;
    font-weight: Bolder;
    padding-right: 2rem;
    flex-shrink: 0;
    flex-grow: 1;
}

.nav-link{
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover{
    color: var(--accent-color);
}

.nav-header{
    display:flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
}

.icon-header{
    display:flex;
    gap: 1rem;
    list-style-type: none;
    align-items: center;
}

.icon{
    height: 1.5rem;
    width: 1.5rem;
}

.active{
    color:var(--accent-color)
}

/* Home Styles */
.home{
    width: clamp(20rem, 50%, 70ch);
    margin: auto;
    margin-top: 15vh;
    line-height: 1.5rem;
    text-align: justify;
    user-select: none;
}

.home-purpose-container{ 
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}

.home-purpose-container-item{
    cursor: pointer;
    border-radius: 5%;
    background-color: var(--background-color-secondary);
    flex-grow: 1;
    flex-basis: 10rem;
    text-align: center;
    transition: 0.333s;
}

.home-purpose-container-item:hover{
    scale: 1.05;
    transition: 0.33s;
}

.home-purpose{
    text-align: center;
}

.home-canvas{
    position: absolute;
    top:0px;
    left:0px;
    width:100%
}
#home-canvas-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    overflow: hidden;
}

.home-footer{
    position:absolute;
    right: 0px;
    bottom: 0px;
}

/* Guides Styles */
.guides-container{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    width: 75%;

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), auto));
}

.guides-group{
    border-radius: 2%;
    background-color: var(--background-color-secondary);
    overflow: hidden;
    transition: 0.3s;
}

.guides-group:hover{
    scale: 1.05;
    transition: 0.3s;
}

.guide-icon{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.page-header{
    text-align: center;
}

.page-description{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: clamp(1rem, 75%, 80ch);
}

.lesson-description{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.guide{
    max-width: 90ch;
    min-width: auto;
    margin: auto;
    overflow: auto;
    background-color: var(--background-color-secondary);
}

.body-lesson{
    display: grid;
    height: 100vh;
    grid-template-columns: min-content auto;
    grid-template-rows:min-content auto;
    
}

.nav-lesson{
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    border-bottom: 1px solid var(--text-color);
}
aside{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

.contents{
    margin: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    background-color: var(--background-color-secondary);
    border-radius: 5px;
    display: block;
    list-style-type: upper-roman;
    list-style-position: inside;
}

.contents li{
    font-size: 1rem;
    position: relative;
}

.contents li a{
    position: absolute;
    left: 4rem;
}

.contents li:hover{
    color: var(--accent-color);
}

.main-guide{
    overflow: auto;
}

.code-header{
    position: relative;
    background-color: red;
}

.lessons-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.lesson{
    background-color: var(--background-color-secondary);
    border-radius: 10px;
    transition: 0.3s;
}

.lesson:hover{
    transform: translate(1rem, 0px);
    transition: 0.3s;
}

/*Code Styling*/
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1rem;
    border-radius: 1%;
    width: 79ch;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hljs {
    background: var(--background-color-main);
    color: var(--text-color);
}
.hljs-subst {
    color: #aaa
}
.hljs-section {
    color: #fff
}
.hljs-comment,
.hljs-quote,
.hljs-meta {
    color: #444
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-regexp {
    color: #00cc66
}
.hljs-number,
.hljs-addition {
    color: #00cc66
}
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-template-variable,
.hljs-attribute,
.hljs-link {
    color: #32aaee
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: var(--accent-color);
}
.hljs-title,
.hljs-deletion,
.hljs-template-tag {
    color: rgb(255, 255, 50);
}

.hljs-variable{
    color: blue;
}

.hljs-title.class_{
    color: rgb(255, 174, 0);
}

.hljs-section,
.hljs-doctag,
.hljs-strong {
    font-weight: bold
}
.hljs-emphasis {
    font-style: italic
}